body {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	background-color: #F5F5F5 !important;
}

*::-webkit-scrollbar
{
	width: 5px !important;
	height: 5px !important;
	background-color: #F5F5F5 !important;
}

*::-webkit-scrollbar-thumb
{
	background-color: #2196f3 !important;
}
