.login-form {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
}

.form-wrapper {
    padding: 1em;
}

.form-wrapper .form-row {
    padding: .5em .25em;
    margin: 0 0 .5em 0;
    display: flex;
    flex-direction: row;
    min-width: 40vw;
}

.form-wrapper .form-row .title {
    font-weight: 500;
    font-size: 2em;
    font-family: serif;
    flex: 1;
}

.btn {
    font-size: 16px;
    padding: .5em .25em;
    border: none;
}

.login-form-btn {
    color: #222;
}

.form-wrapper .form-row .form-row-1{
    flex: 1;
}

.form-wrapper .form-row > label {
    flex: 1;
    padding: .5em .25em;
}
.form-wrapper .form-row > input {
    flex: 3;
    border: none;
    padding: .5em .25em;
    outline: none;
}

.login-form-wrapper {
    background-color: #222;
    color: white;
    display: inline-block;
    margin-top: 5vh;
    border-radius: 1em;
}

.login-form-wrapper .login-form-row {
    /* background-color: darkgray;
    border: 1px solid red; */
}

@media only screen and (max-width: 800px) {
    .form-wrapper .form-row {
        min-width: 80vw;
    }
}
